@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

body {
    background-color: #000000;
    text-align: center;
    font-family: "Oswald", "Lato", sans-serif;
}

/*#hero-image {
  height: 600px;
  width: 100%;
  background: url("../images/londonskyline.jpeg") no-repeat center center;
  background-size: auto;
  background-size: auto;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  background-size: cover;
}

#cover-text {
  font-size: 130%;
  font-family: "Oswald";
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 300px;
  height: 200px;
  background-color: rgba(107, 210, 241, 0.38);
  color: #f5f5f5;
  padding-top: 20px;
  padding-left: 10px;
  bottom: 30px;
  right: 150px;
  position: absolute;
  padding-top: 20px;
} */

#hero-image {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: url("../images/londonskyline.jpeg") no-repeat center center;
  
  /* Zoom subltle image feature */
  background-size: auto;
  background-size: auto;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  background-size: cover;
}

#hero-image-article {
  height: 600px;
  width: 100%;
  background: url("../images/AdobeStock_113516382.jpeg") no-repeat center center;
  background-size: auto;
  background-size: auto;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  background-size: cover;
}

#cover-text {
  font-size: 130%;
  font-family: "Oswald";
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 300px;
  height: 200px;
  background-color: rgba(107, 210, 241, 0.38);
  color: #f5f5f5;

}

#article-text {
  font-size:50%;
  font-family: "Oswald";
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /*width: 300px;
  height: 200px;*/
  background-color: rgb(68 121 123 / 68%);
  color: #fff;

}

h4.heading {
  text-shadow: 2px 2px #9f6666;
}

/* HEADINGS */

.header--main {
 font-weight: normal;
 font-size: 50px;
 color: #ffffff;
}

.header--secondary {
    font-weight: 300px;
    font-size: 42px;
    color: #ffffff;
}

.header--sub-header {
    font-size: 21px;
    color:grey
}


/* Meet img */


img.meet {
    width: 2em;
}

/* LINKS */

a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.link--cta {
font-size: 16px;
color: #7fffd4;
}

/*  FOOTER */

.footer--copyright {
font-size: 21px;
color: #7fffd4;
text-align: right;
}
