body {
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADINGS */

.header--main {
 font-weight: normal;
 font-size: 50px;
 color: #ffffff;
}

.header--secondary {
    font-weight: 300px;
    font-size: 42px;
    color: #ffffff;
}

.header--sub-header {
    font-size: 21px;
    color:grey
}

/*image and text*/

#hero-image {
  height: 600px;
  width: 100%;
  background: url("/resources/images/cover.jpeg") no-repeat center center;
  background-size: auto;
  background-size: auto;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  background-size: cover;
}

#cover-text {
  font-size: 130%;
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 300px;
  height: 200px;
  padding-top: 20px;
  padding-left: 10px;
  bottom: 30px;
  right: 150px;
  position: absolute;
  padding-top: 20px;
}

img.meet {
    width: 2em;
}

/* LINKS */

.link--cta {
font-size: 16px;
color: #7fffd4;
}

/*  FOOTER */

.footer--copyright {
font-size: 21px;
color: #7fffd4;
text-align: right;
}
